.hero{
  position: relative;
  height: 400px;
  padding: 90px 0;
  background: linear-gradient(265.48deg, #095ACD 33.12%, #006AFF 84.7%);
}
.hero__title{
  font-family: SF Pro Display;
  font-size: 64px;
  line-height: 79px;
  width: 100%;
  max-width: 840px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}